<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="password" required>

            <div class="button-group">
                <button type="submit" class="btn-login">Login</button>
                <button type="button" class="btn-register" id="register">Register</button>
            </div>
        </form>
        <p id="message"></p>
    </div>

    <script>
        $(document).ready(function () {
            $("#loginForm").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    url: "/user/login",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        username: $("#username").val(),
                        password: $("#password").val()
                    }),
                    success: function (response) {
                        alert(response.message);
                        localStorage.setItem("token", response.token);
                        localStorage.setItem("username", response.username);
                        window.location.href = "/chat";
                    },
                    error: function (xhr) {
                        $("#message").text(xhr.responseJSON.message).css("color", "red");
                    }
                })
            });


            $("#register").click(function () {
                window.location.href = "/signup";
            });
        });


    </script>
</body>

</html>